@import "../../config";

@keyframes menuAppear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes menuDisappear {
  0% {
    background: #3ac;
  }

  100% {
    background: red;
  }
}