@import "../../config";
@import "HomeAnimation";

@mixin mainDisplayFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  @include mainDisplayFlex;
}

.mediativeText {
  @include mainDisplayFlex;
  flex-direction: column;
  font-family: $main-font;
  font-size: ptr(33px);
  font-weight: 100;
  color: #00ed48;
  position: absolute;
  z-index: 6;
  animation: textAppear 1000ms ease-out;

  p {
    margin: 0;
    line-height: 150%;
  }

  span {
    font-size: ptr(33px);
    //font-size: ptr(38px);
  }
}

.mediativeGrid {
  @include mainDisplayFlex;
  position: fixed;
  z-index: 5;
  animation: gridAppear 1500ms ease-in-out;

  .mediative-grid img {
    height: 400px;
    width: 400px;
  }
}

@mixin mainMediativeRadius {
  @include mainDisplayFlex;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  animation: mainRadiusAppear 500ms ease-out;
}

.mediativeRadius1 {
  @include mainMediativeRadius;
  width: ptr(500px);
  height: ptr(500px);
  z-index: 4;
  box-shadow: 0 0 0 1px rgba(0, 179, 229, 0.8);
}

.mediativeRadius2 {
  @include mainMediativeRadius;
  width: ptr(600px);
  height: ptr(600px);
  z-index: 3;
  box-shadow: 0 0 0 1px rgba(0, 179, 229, 0.6);
}

.mediativeRadius3 {
  @include mainMediativeRadius;
  width: ptr(700px);
  height: ptr(700px);
  z-index: 2;
  box-shadow: 0 0 0 1px rgba(0, 179, 229, 0.4);
}

.mediativeRadius4 {
  @include mainMediativeRadius;
  width: ptr(800px);
  height: ptr(800px);
  z-index: 1;
  box-shadow: 0 0 0 1px rgba(0, 179, 229, 0.2);
}

.linkClass {
  @include mainDisplayFlex;
  position: fixed;
  z-index: 7;
  text-decoration: none;
  color: white;
}

@keyframes gridAppear {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes mainRadiusAppear {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}