@import "../../config";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediativeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
  font-size: ptr(33px);
  font-weight: 100;
  color: #00ed48;
  position: absolute;
  z-index: 6;
  margin: ptr(-44px) 0 0 ptr(-128.5px);

  span {
    font-size: ptr(33px);
    //font-size: ptr(38px);
  }
}

.mediativeGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;

  .mediative-grid img {
    height: 400px;
    width: 400px;
  }
}

.mediativeRadius1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: ptr(500px);
  height: ptr(500px);
  background: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  margin: ptr(-250px) 0 0 ptr(-250px);
  box-shadow: 0 0 0 1px rgba(0, 179, 229, 0.8);
}

.mediativeRadius2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: ptr(600px);
  height: ptr(600px);
  background: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  margin: ptr(-300px) 0 0 ptr(-300px);
  box-shadow: 0 0 0 1px rgba(0, 179, 229, 0.6);
}

.mediativeRadius3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: ptr(700px);
  height: ptr(700px);
  background: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  margin: ptr(-350px) 0 0 ptr(-350px);
  box-shadow: 0 0 0 1px rgba(0, 179, 229, 0.4);
}

.mediativeRadius4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: ptr(800px);
  height: ptr(800px);
  background: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  margin: ptr(-400px) 0 0 ptr(-400px);
  box-shadow: 0 0 0 1px rgba(0, 179, 229, 0.2);
}

.linkClass {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 7;
  text-decoration: none;
  color: white;
}